{% extends "base.html" %}

{% block title %}
Vende
{% endblock %}

{% block content %}
<br>
<h1>Vende las prendas que ya no uses! </h1></br>


{% if form %}

<form action="" method="POST" enctype="multipart/form-data" >

    {% csrf_token %}

    <table>
        {{form.as_table}}
    </table>


    <input type="submit" value="Publica tu prenda">
</form>
{% endif %}


{% if form_errors %}
<h2 style="color: red;">Errores:</h2>
{{form_errors}}
{% endif %}


{% if message %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endif %}

{% endblock %}