{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock %}

{% block content %}

<h1><br> <p style="margin-left: 10px;">Los tipos de prenda que tenemos disponibles</br></h1>

{% for category in categories %}

<br>
<div class="card" style="width: 18rem;"></br>
  <div class="card-body">
    <h5 class="card-title"><b>{{category}}</b></h5>
    {% if request.user.is_authenticated %}
    <a href="/clothes/list-clothes/" class="card-link" style="color:#e08385;">Comprar</a>
    <a href="/clothes/create/" class="card-link" style="color:#e08385;">Vender tus prendas</a>
    {% endif %}
  </div>
</div>
</p>
{% endfor %}

{% endblock %}