{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock %}

{% block content %}

<h1><br> Los tipos de prenda que tenemos disponibles</br></h1>

{% for category in categories %}

<br>
<div class="card" style="width: 18rem;"></br>
  <div class="card-body">
    <h5 class="card-title"><b>{{category}}</b></h5>
    <a href="/sales/order" class="card-link" style="color:#9121d1;">Comprar</a>
    <a href="/clothes/vender" class="card-link" style="color:#9121d1;">Vender tus prendas</a>
  </div>
</div>

{% endfor %}

{% endblock %}