{% extends 'base.html' %}

{% block title %}
Listado de productos
{% endblock %}

{% block content %}

<h1>Nuestras prendas disponibles!</h1>
{% if request.user.is_authenticated %}
<h2><br> Queres publicar tus prendas? </br></h2> <a href="/clothes/create/" class="btn btn-primary"
    style="background-color:#9121d1; border: #9121d1;">Publicar</a>
{% endif %}


<h2><br>Actualmente tenemos las siguientes prendas en stock:</br></h2>
{% for clothing in clothes %}

<div class="card" style="width: 18rem;"></br>
    {% if clothing.cloth_picture.url != '' %}
    <img src="{{clothing.cloth_picture.url}}" class="img-fluid rounded-start" alt="Clothes_pictures"
        width="1000%" height="1000%">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{clothing.name}}</h5>
        <p class="card-text">Su categoria es <b>{{clothing.category}}</b></p>
        <p class="card-text">Su marca es <b>{{clothing.brand}}</b></p>
        <p class="card-text">Su precio es <b>${{clothing.price}}</b></p>
        {% if clothing.new_clothing == True %}
        <p>La prenda es nueva</p>
        {% else %}
        <p>La prenda es usada</p>
        {% endif %}
        {% if clothing.is_available == True %}
        <p><b>La prenda esta disponible para su compra</b></p>

        <br>
        <h5><u> Queres comprar la prenda?</u></h5>
        {% if request.user.is_authenticated %}
        <form action="/clothes/listado_clothes/" method="POST">
            {% csrf_token %}

            Tu username para procesar la compra : {{form.buyer}}
            Medio de pago: {{form.type_payment}}

            <input type="hidden" name="cloth" value="{{clothing.id}}" id="id_cloth">
            <input type="submit" class="btn btn-primary" style="background-color:#9121d1; border: #9121d1;"
                value='Comprar'>
        </form>
            {% if request.user.is_superuser %}
            <a href="/clothes/update-clothes/{{clothing.pk}}/" class="btn btn-primary"
                style="background-color:#9121d1; border: #9121d1;">Actualizar precio</a>
            <a href="/clothes/delete-clothes/{{clothing.pk}}/" class="btn btn-primary"
                style="background-color: red; border: red;">Borrar</a>
            {% endif %}
        {% endif %}
        {% else %}
        <p>Lo sentimos! La prenda ya se vendió</p>
        {% endif %}
    </div>
</div>

{% endfor %}

{% endblock %}