{% extends 'base.html' %}

{% block title %}
    Actualización de la prenda
{% endblock %}

{% block content %}
    <h1><p style="margin-left: 10px;">Deseas actualizar el precio de la prenda anteriormente cargada?</p></h1>



    {% if form %}

        <form action="" method="POST" style="margin-left: 10px;">

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>


            <input type="submit" value="Actualizar">
        </p>
        <br><br>
        </form>
    {% endif %}


    {% if form_errors %}
        <h2 style="color: red;" >Errores:</h2>
        {{form_errors}}
    {% endif %}


    {% if message %}
    <div class="alert alert-success" role="alert">{{message}}</div>
    {% endif %}





{% endblock %}