{% extends "base.html" %}

{% block title %}
Sobre mi
{% endblock %}

{% block content %}


<div class="card mb-3" style="width: 800px;">
    <a href='https://postimg.cc/PNQ6XgBX' target='_blank'><img
            src='https://i.postimg.cc/qB9WL0w3/Whats-App-Image-2022-11-13-at-11-04-36-PM.jpg'
            alt='Whats-App-Image-2022-11-13-at-11-04-36-PM' style="height:490px; width: 800px;" /></a>
    <div class="card-body">
        <h5 class="card-title" style="color:#e08385;">Hola! Soy Rocio</h5>
        <p class="card-text"> Tengo 25 años y soy Licenciada en Organización Industrial recibida en UTN. Mi proyecto final de carrera se basó en la preservación del medioambiente a traves de
            la realización de fibras e hilos textiles a partir de plástico PET reciclado para luchar con la contaminación textil. </p>
            <p class="card-text"> Soy una apasionada por aprender cosas nuevas y la programación es una práctica queria aprender hace tiempo. Por eso, teniendo en cuenta mi proyecto final de carrera, lleve a cabo este trabajo.</p>
            <p class="card-text"> El proyecto en cuestión se realizo mediante el framework Django. Su nombre es VintageStore
            y es una plataforma que fomenta la moda sostenible a través de la compra y venta de prendas de segunda mano,
            permitiendo combatir la contaminación textil con la reutilización de todas aquellas prendas que las personas
            no usan más.</p>
        <p class="card-text"> 
            La funcionalidad básica radica en que los usuarios logueados podran vender sus prendas nuevas o usadas,
            subiéndolas a la plataforma a traves de un formulario y que otros usuarios tengan la oportunidad de comprarlas
            en un apartado que lista todas las prendas, tanto disponibles como vendidas.
            En este caso, la plataforma no cuenta con una pasarela de pagos. Por eso, al momento de concretar la venta,
            los administradores se ponen en contacto mediante mail con el comprador, dicho mail se encuentra disponible
            en la base de datos del proyecto. Una vez enviado el mail, se gestionará la venta y
            el posterior pago
            al vendedor. Al igual que en el caso del comprador, el contacto con el vendedor para que reciba su pago se hace mediante
            mail.
        </p>
        <p class="card-text"> La pagina permite registrarte, logueate, poseer un perfil y modificarlo a tu gusto. Esto posibilita poseer los
            datos de los usuarios en una tabla con todos sus datos de interes, por cualquier venta o inconveniente que
            sucede.</p>
        <p class="card-text"><small class="text-muted">Espero que les guste mi página, esta hecha con mucho amor
                :)</small></p>

    </div>
</div>

{% endblock %}