{% extends "base.html" %}

{% block title %}
Listado de ordenes
{% endblock %}

{% block content %}

<h1><br> Las personas compraron: </br></h1>

{% for order in orders %}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">La prenda <u>{{order.cloth}}</u> fue comprada</h5>
        <p class="card-text">El cliente fue <b>{{order.client}}</b></p>
        <p class="card-text">Su pago fue mediante <b>{{order.payment}}</b></p>
        <a href="/clothes/listado_clothes/" class="btn btn-primary" style="background-color:#9121d1; border: #9121d1;"
            ;>Ver las prendas disponibles!</a>
    </div>
</div>


{% endfor %}

{% endblock %}