{% extends "base.html" %}

{% block title %}
Vende
{% endblock %}

{% block content %}
<br>
<h1>Elige el medio de pago </h1></br>


{% if form %}

<form action="" method="POST">

    {% csrf_token %}

    <table>
        {{form.as_table}}
    </table>


    <input type="submit" value="Gracias por comprar en VintageStore!">
</form>
{% endif %}


{% if form_errors %}
<h2 style="color: red;">Errores:</h2>
{{form_errors}}
{% endif %}


{% if message %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endif %}

<a class="btn btn-primary" href="/clothes/listado_clothes/" style="background-color:#9121d1; border: #9121d1;" role="button">Ir a las prendas disponibles</a>

{% endblock %}